<mat-toolbar color="primary">
  <mat-toolbar-row color="primary">
    <div>
      <button mat-mini-fab color="accent" [routerLink]="[ '/players' ]"
        matTooltip="{{'selectPlayers' | translate}}"><mat-icon>person_add_alt</mat-icon></button>
      <!-- <span class="mat-h3">
    {{playersCount}}</span> -->
    </div>
    <span class="spacer"></span>
    <div class="fx-row">
      <mat-slide-toggle matTooltip="Farebná téma" (change)="themeService.setDark($event.checked)"
        [checked]="themeService.isDark()"></mat-slide-toggle>

      <button mat-icon-button (click)="setRound(-1)" [disabled]="round<1" aria-label="next"
        matTooltip="{{'back' | translate}}">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="mat-h3">
        <span class="mat-h3">
          {{round+1}}
        </span>
        / {{roundsCount}}
      </span>
      <button mat-icon-button (click)="setRound(1)" [disabled]="round>roundsCount-2" aria-label="predošlé kolo"
        matTooltip="{{'forward' | translate}}">
        <mat-icon>arrow_forward</mat-icon>
      </button>

    </div>
  </mat-toolbar-row>
  <!-- <mat-toolbar-row>
<span class="spacer"></span>
</mat-toolbar-row> -->
</mat-toolbar>

<mat-card appearance="outlined" (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)" class="main-card">

  <div [formGroup]="form">
    @for (item of roundData; track item; let i = $index) {
    <div [ngClass]="{'even': i % 2}" class="row" >
      <div class="mat-card-subtitle noselect">{{i+1}}</div>
      <div class="fx-row">
        <div class="noselect mat-h2">
          {{robin2Player[item[0]]?.name}}
        </div>
        vs.
        <div class="noselect mat-h2">
          {{robin2Player[item[1]]?.name}}
        </div>
      </div>
      <mat-divider>
      </mat-divider>
    </div>
    }
  </div>
</mat-card>

<!-- <pre>
{{form.value | json}}
</pre> -->
<!-- <button mat-raised-button color="default">default</button>
<button mat-raised-button color="primary">primary</button>
<button mat-raised-button color="accent">accent</button>
<button mat-raised-button color="warn">warn</button> -->