<mat-toolbar class="tt-toolbar">
  <mat-toolbar-row>
    <div>
      <button mat-icon-button class="tt-chip tt-chip-active" [routerLink]="[ '/players' ]"
        matTooltip="{{'selectPlayers' | translate}}">
        <mat-icon>person_add_alt</mat-icon>
      </button>
    </div>
    <span class="spacer"></span>
    <div class="tt-toolbar-actions">
      <button type="button" class="tt-theme-btn" (click)="themeService.toggle()"
        matTooltip="Farebná téma" aria-label="Farebná téma">
        @if (themeService.isDark()) {
          <mat-icon>light_mode</mat-icon>
        } @else {
          <mat-icon>dark_mode</mat-icon>
        }
      </button>

      <button mat-icon-button (click)="setRound(-1)" [disabled]="round<1" aria-label="next"
        matTooltip="{{'back' | translate}}">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="tt-round-nav">{{round+1}} / {{roundsCount}}</span>
      <button mat-icon-button (click)="setRound(1)" [disabled]="round>roundsCount-2" aria-label="predošlé kolo"
        matTooltip="{{'forward' | translate}}">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <!-- <mat-toolbar-row>
<span class="spacer"></span>
</mat-toolbar-row> -->
</mat-toolbar>
@if (warningMessage) {
  <div class="warning-banner">{{ warningMessage }}</div>
}
<mat-card appearance="outlined" (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)" class="main-card">

  <div [formGroup]="form">
    @for (item of roundData; track item[0] + '-' + item[1]; let i = $index) {
    <div [ngClass]="{'even': i % 2}" class="row" >
      <div class="mat-card-subtitle noselect round-num">{{i+1}}</div>
      <div class="fx-row match-row">
        <div class="noselect mat-h2 match-name player-name-large">
          @if (isSitOutPlayer(robin2Player[item[0]])) {
            <mat-icon class="sit-out-icon" [attr.aria-label]="'sitOut' | translate">event_seat</mat-icon>
          } @else {
            {{robin2Player[item[0]].name}}
          }
        </div>
        <span class="match-vs">vs.</span>
        <div class="noselect mat-h2 match-name player-name-large">
          @if (isSitOutPlayer(robin2Player[item[1]])) {
            <mat-icon class="sit-out-icon" [attr.aria-label]="'sitOut' | translate">event_seat</mat-icon>
          } @else {
            {{robin2Player[item[1]].name}}
          }
        </div>
      </div>
      <mat-divider>
      </mat-divider>
    </div>
    }
  </div>
</mat-card>

<!-- <pre>
{{form.value | json}}
</pre> -->
<!-- <button mat-raised-button color="default">default</button>
<button mat-raised-button color="primary">primary</button>
<button mat-raised-button color="accent">accent</button>
<button mat-raised-button color="warn">warn</button> -->