.full-width {
    width: 100%;
  }
  
  mat-form-field {
    width: 45%;
  }
  
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card {
    padding-left: 0;
    padding-right: 0;
  }
  
  .even {
    background-color: var(--mat-sys-secondary-container);
  }
  
  .main-card{
    height: calc(100% - 165px);
  }

  .row {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    padding-top: 5px;

    height: 60px;
    /* padding: 3px; */
  }