@use "@angular/material" as mat;

$tt-typography: (
    plain-family: "Comfortaa",
    brand-family: "Comfortaa",
    bold-weight: 700,
    medium-weight: 600,
    regular-weight: 400
);

html {
    @include mat.theme(
        (
            typography: $tt-typography,
            density: 0
        )
    );
}
