html,
body {
  height: 100%;
  margin: 0;
  font-family: "Comfortaa", cursive;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spacer {
  flex: 1 1 auto;
}

.fx-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;

}


.fx-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;

}


.flex-20 {
  flex: 0 0 15%;
}